Repository opalmedapps/opal-listener: changes, and which GitLab CI jobs are due for each by the changed paths.
All: firebase rules dev, firebase rules staging, firebase rules preprod

.gitlab-ci.yml:

default:
  image: node:16.14.2-alpine3.15

# Cache modules in between jobs
cache:
  key: $CI_COMMIT_REF_SLUG
  paths:
    - .npm/

before_script:
  - uname -a
  - node --version
  - npm --version
  # Install dependencies and cache within the project directory to cache
  # See: https://javascript.plainenglish.io/improving-ci-performance-aka-how-to-save-your-money-31ff691360e4
  - npm ci --cache .npm --prefer-offline
  # Set up config files (currently no actual values are needed)
  - cp listener/config_template.json listener/config.json
  - cp src/config/config.template.json src/config/config.json

stages:
  - Development Test
  - Static Analysis
  - Test
  - Documentation
  - Deploy

eslint:
  stage: Static Analysis
  script:
    - npm install eslint-formatter-gitlab --no-save
    - npx eslint --version
    - npx eslint --format gitlab src/**/*.js
  artifacts:
    when: always
    reports:
      codequality: gl-codequality.json

mocha:
  stage: Test
  script:
    - npm install mocha-junit-reporter --no-save
    - npx mocha --version
    - npx mocha --reporter mocha-junit-reporter --reporter-options mochaFile=junit.xml './src/**/*.test.*' './listener/**/*.test.*'
  artifacts:
    when: always
    reports:
      junit:
        - junit.xml

coverage:
  stage: Test
  needs:
    - job: mocha
  script:
    - npx nyc --version
    # record coverage across complete codebase to show progress over time
    - npx nyc --all --reporter cobertura mocha './src/**/*.test.*' './listener/**/*.test.*'
    - npx nyc report
  # see: https://docs.gitlab.com/ee/ci/pipelines/settings.html#test-coverage-examples
  # Extract branch coverage instead of statement coverage
  coverage: '/^All files[^|]*\|[^|]*\|\s+\s+([\d\.]+)/'
  artifacts:
    when: always
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura-coverage.xml

build docs:
  stage: Documentation
  script:
    - npx jsdoc --version
    - npm run docs

pages:
  stage: Deploy
  script:
    - npx jsdoc --version
    - npm run docs
    - mv docs/generated/ public/
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH

# Deployment implicitly uses a service account assigned to $GOOGLE_APPLICATION_CREDENTIALS below
# These service accounts provide permissions for editing Firebase rules.
.firebase rules:
  stage: Development Test
  before_script:
    - npm install -g firebase-tools

firebase rules dev:
  extends: .firebase rules
  rules:
    - if: $CI_COMMIT_BRANCH == "QSCCD-465.SB.firebase-rules"
      changes:
        - firebase/dev/database.rules.json
  script:
    - cd firebase/dev
    - GOOGLE_APPLICATION_CREDENTIALS = $DEV_GOOGLE_APPLICATION_CREDENTIALS
    - firebase deploy --only database

firebase rules staging:
  extends: .firebase rules
  rules:
    - if: $CI_COMMIT_BRANCH == "staging"
      changes:
        - firebase/staging/database.rules.json
  script:
    - cd firebase/staging
    - GOOGLE_APPLICATION_CREDENTIALS = $STAGING_GOOGLE_APPLICATION_CREDENTIALS
    - firebase deploy --only database

firebase rules preprod:
  extends: .firebase rules
  rules:
    - if: $CI_COMMIT_BRANCH == "PreProd"
      changes:
        - firebase/preprod/database.rules.json
  script:
    - cd firebase/preprod
    - GOOGLE_APPLICATION_CREDENTIALS = $PREPROD_GOOGLE_APPLICATION_CREDENTIALS
    - firebase deploy --only database

Change syntax for setting environment variables
  .gitlab-ci.yml
Due: none

Test pipeline
  firebase/dev/database.rules.json
Due: firebase rules dev

Remove spaces
  .gitlab-ci.yml
Due: none

Add export
  .gitlab-ci.yml
Due: none

Test staging
  .gitlab-ci.yml
  firebase/staging/database.rules.json
Due: firebase rules staging

Test staging
  .gitlab-ci.yml
Due: none

Test staging
  firebase/staging/database.rules.json
Due: firebase rules staging

Remove debug artifact
  .gitlab-ci.yml
  firebase/staging/database.rules.json
Due: firebase rules staging

Test preprod
  .gitlab-ci.yml
  firebase/preprod/database.rules.json
Due: firebase rules preprod

Remove test rules
  .gitlab-ci.yml
  firebase/dev/database.rules.json
  firebase/preprod/database.rules.json
  firebase/staging/database.rules.json
Due: firebase rules dev, firebase rules staging, firebase rules preprod

Remove test code
  .gitlab-ci.yml
Due: none

Clean up firebase rules
  firebase/dev/database.rules.json
  firebase/preprod/database.rules.json
  firebase/prod/database.rules.json
  firebase/staging/database.rules.json
Due: firebase rules dev, firebase rules staging, firebase rules preprod

Changed password reset encryption to use email instead of ssn
  listener/legacy-server.js
  listener/security/security.js
Due: none

QSCCD-205: Move registration-firebase into this project as a cron and refactor it (!115)
  .gitlab-ci.yml
  legacy-registration/api/sql/queries.js
  legacy-registration/cron/delete-expired-branches.js
  legacy-registration/cron/delete-expired-branches.test.js
  legacy-registration/cron/index.js
  legacy-registration/legacy-server.js
  package-lock.json
  package.json
  src/server.js
Due: none

QSCCD-465: Add firebase rules to version control and CI/CD (!116)
  .gitlab-ci.yml
  docs/source/config.json
  docs/source/firebase-rules.md
  docs/styles/tui-doc-override.css
  firebase/dev/.firebaserc
  firebase/dev/database.rules.json
  firebase/dev/firebase.json
  firebase/preprod/.firebaserc
  firebase/preprod/database.rules.json
  firebase/preprod/firebase.json
  firebase/prod/.firebaserc
  firebase/prod/database.rules.json
  firebase/prod/firebase.json
  firebase/staging/.firebaserc
  firebase/staging/database.rules.json
  firebase/staging/firebase.json
  package-lock.json
  package.json
Due: firebase rules dev, firebase rules staging, firebase rules preprod

Remove unused function to get a patient's last activity
  listener/api/sqlInterface.js
  listener/sql/queries.js
Due: none

Remove unused function to record logouts
  listener/api/sqlInterface.js
  listener/sql/queries.js
Due: none

feat: enable dotenv environment variables in listener entry point
  .env.sample
  docker-compose.yml
  package-lock.json
  package.json
  src/server.js
Due: none

feat: add env validation to entry & update api-requests with new env
  src/core/api-request.js
  src/server.js
Due: none

feat: add environment validation to entry point
  src/server.js
Due: none

Debug mock-request's registrationRequest
  src/core/api-request.js
  src/core/request-handler.js
  src/error/handler.js
  src/registration/registration.js
  src/test/simulate-request/mock-request.js
Due: none

Save request parameters in PatientActivityLog
  listener/api/main.js
  listener/api/sqlInterface.js
  listener/sql/queries.js
Due: none

feat: initial implementation of data caching class
  src/utility/data-cache.js
Due: none

feat: try keyv package to resolve async/await issues with class implementation
  package-lock.json
  package.json
  src/registration/registration.js
Due: none

test: add test class for registrations
  src/registration/registration.js
  src/registration/registration.test.js
Due: none

fix: add space
  src/registration/registration.test.js
Due: none

feat: update config template with new ttl var
  src/config/config.template.json
  src/registration/registration.js
Due: none

refactor: remove original data cache implementation
  src/utility/data-cache.js
Due: none

refactor: adjust logger messaging
  src/registration/registration.js
  src/registration/registration.test.js
Due: none

Add ability to decrypt using multiple possible salts
  src/core/request-handler.js
  src/encryption/encryption.js
  src/registration/registration.js
  src/utility/promise.js
  src/utility/promise.test.js
Due: none

Fix eslint errors
  src/utility/promise.test.js
Due: none
