Repository opalmedapps/opal-listener: changes, and which GitLab CI jobs are due for each by the changed paths.
All: firebase rules demo, firebase rules dev, firebase rules devops

Path conditions:
  firebase rules demo: any of: firebase/demo/database.rules.json
  firebase rules dev: any of: firebase/dev/database.rules.json
  firebase rules devops: any of: firebase/devops/database.rules.json

ci: test
  firebase/dev/database.rules.json
Due: firebase rules dev

ci: test
  .github/workflows/firebase-rules.yml
Due: none

docs: add instructions on creating a service account
  docs/source/ci-cd-workflows.md
Due: none

ci: test
  .github/workflows/firebase-rules.yml
  firebase/dev/database.rules.json
Due: firebase rules dev

ci: deploy firebase rules
  .github/workflows/firebase-rules.yml
Due: none

ci: fix run
  .github/workflows/firebase-rules.yml
Due: none

ci: testing
  firebase/dev/database.rules.json
Due: firebase rules dev

ci: fix issue with improperly escaped characters in DEV_GOOGLE_APPLICATION_CREDENTIALS
  .github/workflows/firebase-rules.yml
  firebase/dev/database.rules.json
Due: firebase rules dev

ci: test workflow_dispatch and make changes
  .github/workflows/firebase-rules.yml
Due: none

ci: consolidate to one firebase rules file
  .github/workflows/firebase-rules.yml
  firebase/database.rules.json
  firebase/dev/database.rules.json
  firebase/devops/database.rules.json
  firebase/preprod/database.rules.json
  firebase/prod/database.rules.json
  firebase/qa/database.rules.json
  firebase/staging/database.rules.json
Due: firebase rules dev, firebase rules devops

ci: add dynamic variable for environment
  .github/workflows/firebase-rules.yml
Due: none

ci: add manual dispatch
  .github/workflows/firebase-rules.yml
Due: none

ci: testing
  .github/workflows/firebase-rules.yml
Due: none

ci: test qa
  .github/workflows/firebase-rules.yml
  firebase/dev/database.rules.json
Due: firebase rules dev

ci: add firebase-rules workflow
  .github/workflows/firebase-rules.yml
Due: none

docs: update documentation on Firebase Rules and add copyright notices
  .github/workflows/firebase-rules.yml
  REUSE.toml
  docs/source/ci-cd-workflows.md
  docs/source/config.json
  docs/source/firebase-rules.md
Due: none

ci: add actions demo file
  .github/workflows/github-actions-demo.yml
Due: none

ci: testing
  .github/workflows/firebase-rules.yml
  firebase/dev/database.rules.json
Due: firebase rules dev

ci: add TODO
  .github/workflows/firebase-rules.yml
Due: none

feat: exchange session keys with the app
  listener/api/processApiRequest.js
  listener/security/security.js
  package-lock.json
  package.json
  src/encryption/session-key-manager.js
  src/environment.js
  src/server.js
Due: none

fix: use sodium functions for base64
  listener/utility/utility.js
  package-lock.json
  package.json
Due: none

chore: add note about compatibility
  listener/security/security.js
Due: none

fix: validate security answer
  firebase/dev/database.rules.json
  listener/security/security.js
  listener/utility/utility.js
  package-lock.json
  package.json
  src/encryption/session-key-manager.js
Due: firebase rules dev

chore: update libsodium-wrappers-sumo to v0.7.15
  package-lock.json
  package.json
Due: none

fix: address errors from rebase
  listener/security/security.js
Due: none

ci: remove environment-specific folders and files
  .github/workflows/firebase-rules.yml
  REUSE.toml
  firebase/demo/.firebaserc
  firebase/dev/.firebaserc
  firebase/dev/firebase.json
  firebase/devops/.firebaserc
  firebase/devops/firebase.json
  firebase/firebase.json
  firebase/preprod/.firebaserc
  firebase/preprod/firebase.json
  firebase/prod/.firebaserc
  firebase/prod/firebase.json
  firebase/qa/.firebaserc
  firebase/qa/firebase.json
  firebase/staging/.firebaserc
  firebase/staging/firebase.json
Due: none

ci: test
  .github/workflows/firebase-rules.yml
  firebase/database.rules.json
Due: none

ci: run 'firebase use' from within firebase directory
  .github/workflows/firebase-rules.yml
Due: none

ci: test
  firebase/database.rules.json
Due: none

ci: use variable replacement for .firebaserc
  .github/workflows/firebase-rules.yml
  firebase/.firebaserc
Due: none
